.foot-title {
    height: 38px;
    line-height: 38px;
    border-bottom: 2px solid #eee;
}
.foot-title h3{
    font-size: 16px;
    color: #333;
    height: 38px;
    line-height: 38px;
    width: 120px;
    float: left;
}
.foot-title a{
    float: right;
    font-size: 14px;
    color: #666;
}

.footer .footer-top{
    height: 256px;
    /*background-color: pink;*/
}
.footer .footer-top-none{
    display: none;
}
.footer .footer-top ul{
    margin-left: 30px;
}
.footer .footer-top ul li{
    text-align: center;
    float: left;
    height: 118px;
    width: 130px;
    margin: 0 5px;
    padding-top: 18px;
}
.footer .footer-top ul li p{
    margin-top: 10px;
    font-size: 14px;
}
.footer .footer-top ul li a:hover{
    color: #f60;
    text-decoration: underline;

}
.footer .footer-mid{
    height: 195px;
    background-color:#EAEAEA;
    /*width: 1190px;*/
    border-bottom: 1px dashed #ccc;
    position: relative;
}

.footer .footer-mid .yijian{
    float: left;
}
.footer .footer-mid .yijian dt{
    width: 44px;
    height: 40px;
    background:url("../images/top_bg.png") no-repeat 0 -296px;
    position: absolute;
    left:70px;
    top:25px;
}
.footer .footer-mid .yijian dd{
   position: absolute;
    left: 122px;
    top: 38px;
}
.footer .footer-mid .rexian{
    float: left;
    position: absolute;
}
.footer .footer-mid .rexian dt{
    width: 44px;
    height: 44px;
    background: url("../images/top_bg.png") no-repeat -47px -297px;
    position: absolute;
    top: 70px;
    left: -7px;
}
.footer .footer-mid .rexian dd{
    width: 87px;
    position: absolute;
    left: 41px;
    top: 75px;
}
.footer .footer-mid ul {
    /*width: 200px;*/
    margin-left: 150px;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    float: left;
}
.footer .footer-mid ul a{
    color:#999999 ;
}

.footer .footer-mid ul a:hover{
    color: #999999;
}
.footer .footer-mid ul h4{
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 5px;
    color: #333;
}
.footer .footer-mid ul a{
    height: 20px;
    line-height: 25px;
    position: relative;
}
.footer .footer-mid .jiameng i{
    width: 71px;
    height: 17px;
    display: inline-block;
    position: absolute;
    left: 53px;
    top: -2px;
    background: url("../images/r4_c2.png") no-repeat;
}
.footer .footer-mid .qixia .lvyou{
    width: 90px;
    height: 28px;
    display: block;
    background: url("../images/top_bg.png") no-repeat -171px 0;
    margin-top: 5px;
}
.footer .footer-mid .qixia .yiqi{
    width: 90px;
    height: 28px;
    display: block;
    background: url("../images/top_bg.png") no-repeat -171px -40px;
    margin-top: 10px;
}
.footer .footer-mid .qixia .lvjiao{
    width: 84px;
    height: 28px;
    display: block;
    background: url("../images/top_bg.png") no-repeat -171px -80px;
    margin-top: 10px;
}
.footer .footer-bot{
    background-color: #EAEAEA;
    overflow: hidden;
}
.footer .footer-bot .severse ul{
    margin-top: 14px;
}
.footer .footer-bot .severse li{
    height: 23px;
    color: #999999;
}
.footer .footer-bot .severse li em{
    color: #f60;
    margin-right: 3px;
}
.footer .footer-bot  dt{
    float: left;
    width: 68px;
    line-height: 23px;
    color: #BBBBBB;
    font-weight: 700;
    text-align: left;
}
.footer .footer-bot  dd{
    float: left;
    width: 1090px;
    line-height: 23px;
}
.footer .footer-bot  dd a{
    display: inline-block;
    margin: 0 9px 0 0;
    color: #BBBBBB;
}
.footer .footer-bot .copyright{
    margin-top: 23px;
    color: #999999;
}
.footer .footer-bot .copyright em{
    color: #FF6600;
}
.footer .footer-bot .copyright a{
    height: 20px;
    line-height: 20px;
    display: inline;
    color: #999999;
}
.footer .footer-bot .copyright a:hover{
    color:#FF6600;
}
.footer .footer-bot .img {
    margin-top: 28px;
    padding: 18px 0;
    border-bottom: 1px dashed #ccc;
}
.footer .footer-bot .img li{
    float: left;
    width: 120px;
    height: 34px;
    margin: 5px 0;
    padding: 10px 30px 10px 0;
}
.footer .footer-bot .img .tu1{
    width: 34px;
    height: 34px;
    display: inline-block;
    float: left;
    background: url("../images/top_bg.png") no-repeat -306px -9px;
}
.footer .footer-bot .img .tu2{
    width: 38px;
    height: 38px;
    display: inline-block;
    float: left;
    background: url("../images/top_bg.png") no-repeat -266px -5px;
}
.footer .footer-bot .img .tu3{
    width: 40px;
    height: 41px;
    display: inline-block;
    float: left;
    background: url("../images/top_bg.png") no-repeat -298px -58px;
}
.footer .footer-bot .img .tu4{
    width: 36px;
    height: 38px;
    display: inline-block;
    float: left;
    background: url("../images/top_bg.png") no-repeat -260px -87px;
}
.footer .footer-bot .img .tu5{
    width: 120px;
    height: 41px;
    display: inline-block;
    float: left;
    background: url("../images/yc6f2u.jpg") no-repeat ;
}
.footer .footer-bot .img img{
    width: 75px;
    float: left;
    line-height: 18px;
    margin: -16px 0 0 -6px;
}
.footer .footer-bot .img a{
    color: #999999;
}
.footer .footer-bot .img a:hover{
    color: #999999;
}
