html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, form, fieldset, legend, input, select, textarea, button, caption, th, td, blockquote, pre {
    margin: 0;
    padding: 0
}

body {
    color: #333;
    font: normal normal normal 12px/20px Arial, sans-serif
}

input, select, textarea, button {
    border: none;
    vertical-align: middle;
    font-size: 100%;
    outline: 0;
    font-family: 'Microsoft YaHei', Arial, sans-serif
}

h1, h2, h3, h4, h5, h6, strong, th, b {
    font-weight: 400
}

h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    line-height: 24px
}

li {
    list-style: none
}

table {
    border-spacing: 0
}

caption, th {
    text-align: left
}

fieldset, img {
    border: 0
}

address, cite, dfn, em, var, i {
    font-style: normal
}

code, dfn, kbd, samp, tt, var, pre {
    font-family: monospace
}

del, ins, s {
    text-decoration: none
}
img {
    border: 0
}

a {
    color: #005bb5;
    text-decoration: none;
    outline: 0
}

a:hover {
    color: #f60;
    text-decoration: none
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    visibility: hidden
}


.w{
    width: 1190px;
    min-width: 1190px;
    margin: 0 auto;
}

.none {
    display: none;
}