/*第二部分开始*/
.dang{
    height: 42px;
    background-color:#FFFFFF;
    border-bottom: 2px solid #EEEEEE;
}

.dang p{
    width: 100px;
    height: 42px;
    float: left;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
    color:#FF7800;
    font-family: 微软雅黑;
    font-weight: 100;
    border-bottom: 2px solid  #FF7800;
    position: relative;
}
/*伪元素*/
.dang p:after{
    content:"";
    width: 0;
    height: 0;
    display: block;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #FF7800;
    position: absolute;
    left: 49%;
    bottom: 0;
}
/*要准备轮播的图*/
.tu{
    height: 245px;
    /*background-color: pink;*/
    margin-top:15px;


}
.tu .cang{
    overflow: hidden;
    float: left;
    width:900%;
    position: absolute;
    left: 0;
    top: 0;
}
.tu .tuzuo{
    height: 225px;
    width: 222px;
    background-color: #F5F5F5;
    float: left;
    margin-right:20px;

}
.yin{
    height: 225px;
    width: 968px;
    overflow: hidden;
    float: left;
    position: relative;
}
/*左右按钮*/
.pages{
    width:948px;
    cursor: pointer;
    height: 30px;
    position: absolute;
    top:25%;

}
.pages a{
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    color: #FFF;
    background-color: rgba(0, 0, 0, .2);
}
.pages  .arrow-left{
    float: left;
}
.pages  .arrow-right{
    float: right;
}
/*按钮结束*/
.tu .tuzuo img{
    width: 222px;
    height:140px ;
}
.tu .tuzuo p{
    font-size: 16px;
    margin-top:12px;
    margin-left: 11px;
}
.tu .tuzuo span{
    font-size:13px;
    color:#666666;
    margin-left:11px;
    margin-top: 12px;
    display: block;
}
.tu .tuzuo i{
    margin-right: 26px;
    margin-top: -18px;
    display: block;
    float: right;
    font-size:22px;
    color:#FF6633;
}
.tu .tuzuo b{
    font-size:13px;
    color:#666666;
    margin-top:-18px;
    margin-right: 8px;
    display: block;
    float: right;
}
/*同城最右图*/
.tuyou{
    float: right;
}
/*精选特惠*/
.jing {
    height: 42px;
    background-color:#FFFFFF;
    border-bottom: 2px solid #EEEEEE;
    margin-top:4px;
}
.jing p{
    width: 100px;
    height: 42px;
    float: left;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
    color:#FF7800;
    font-family: "SimSun", "宋体";
    font-weight: 100;
    border-bottom: 2px solid  #FF7800;
    position: relative;
}
/*伪元素*/
.jing p:after{
    content:"";
    width: 0;
    height: 0;
    display: block;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #FF7800;
    position: absolute;
    left: 49%;
    bottom: 0;
}
/*精选特惠列表*/
.lie{
    height: 54px;
    /*background-color: aqua;*/
}
.lie li{
    float: left;
    font-size: 14px;
    cursor: pointer;
    height: 42px;
    padding-left: 8px;
    padding-right: 8px;

    line-height: 42px;
    text-align: center;

}
.lie #current{
    cursor: default;
    background-color: #8c96a2;


}
/*.lie li .current{*/

/*}*/
/*上排图*/
.shangtu{
    height: 185px;
    /*background-color: pink;*/
    position: relative;

}
.shangtu img{
    height: 144px;
    width: 223px;
}
img:hover{
    box-shadow: 6px 6px 6px #666;
}
.shangtuzuo{
    position: relative;
    float: left;
    margin-right: 20px;
}
.shangtuzuo em{
    top:98px;
    background-color: rgba(108,94,77,0.3);
    height: 39px;
    width: 217px;
    display: block;
    position: absolute;
    color:white;
    font-size: 14px;
    padding: 3px;

}

.shangtu .shangtuzuo{
    height: 185px;
    width: 223px;
    background-color:  #F5F5F5;
}
.shangtu .shangtuzuo span{
    font-size:13px;
    color:#666666;
    margin-left:11px;
    margin-top: 12px;
    display: block;
}
.shangtu .shangtuzuo i{
    margin-right: 26px;
    margin-top: -18px;
    display: block;
    float: right;
    font-size:22px;
    color:#FF6633;
}
.shangtu .shangtuzuo b{
    font-size:13px;
    color:#666666;
    margin-top:-18px;
    margin-right: 8px;
    display: block;
    float: right;
}
/*广告*/
.shangtu .guanggao img{
    height: 185px;
    width: 461px;
    float: right;
}
.shangtu .guanggao s img{
    width: 47px;
    height: 20px;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
}


/*下图*/
.xiatu{
    height: 185px;
    /*background-color: red;*/
    margin-top: 20px;
    position: relative;
}
.xiatu img{
    height: 144px;
    width: 223px;
}
.xiatuzuo{
    position: relative;
    float: left;
    margin-right: 20px;
}
.xiatuzuo em{
    top:98px;
    background-color: rgba(108,94,77,0.3);
    height: 39px;
    width: 217px;
    display: block;
    position: absolute;
    color:white;
    font-size: 14px;
    padding: 3px;

}

.xiatu .xiatuzuo{
    height: 185px;
    width: 223px;
    background-color:  #F5F5F5;
}
.xiatu .xiatuzuo span{
    font-size:13px;
    color:#666666;
    margin-left:11px;
    margin-top: 12px;
    display: block;
}
.xiatu .xiatuzuo i{
    margin-right: 26px;
    margin-top: -18px;
    display: block;
    float: right;
    font-size:22px;
    color:#FF6633;
}
.xiatu .xiatuzuo b{
    font-size:13px;
    color:#666666;
    margin-top:-18px;
    margin-right: 8px;
    display: block;
    float: right;
}
/*广告*/
.xiatu .guanggao img{
    height: 185px;
    width: 461px;
    float: right;
}
.xiatu .guanggao s img{
    width: 47px;
    height: 20px;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
}
#hidenn {
    display: none;
}
/*第二部分结束*/







/*第三部分开始*/
/*精选周边游*/
.top1 {
    height: 44px;
    border-bottom: 1px solid #EEEEEE;
    line-height:44px;
    margin-bottom: 15px;
    margin-top:24px;
}
.top_left ul {
    position: relative;
    height: 45px;
    width: 250px;
}
.top_left {
    float: left;
    width: 236px;
    /*background-color: pink;*/
}
.top_left .linex {
    width: 100px;
    height: 2px;
    background-color: #50B400;
    position: absolute;
    bottom: 0;
    left: 0;
}
.linex:after {
    content:"";
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #50B400;
    position: absolute;
    bottom: 0;
    left: 40px;
}
.top_left li {
    float: left;
}
.top_left a {
    font-size: 18px;
    padding: 0 8px;
    display: inline-block;
    height: 42px;
    font-weight: 700;

}

.top_right {
    float: right;
    height: 44px;
}
.top_right a{
    color: #666666;
}
/*热推*/
.tab_con {
    float: left;
    width: 968px;
}
.city_title {
    height: 24px;
    width: 968px;
    margin-bottom: 15px;
}
.city_title li {
    float: left;
    height: 20px;
    padding: 2px 8px;
    margin-right: 15px;
}
.city_title .current {
    background-color: rgba(0,0,0,.2);
}
/*景点展示*/
.tab_list ul {
    display:none;
}
.tab_list .current {
    display:block;
}
.tab_list li {
    height: 183px;
    width: 222px;
    margin: 0 20px 20px 0;
    background-color: #F5F5F5;
    float: left;

}
.tab_list .pic {
    position: relative;
}
.tab_list .pic img {
    width: 222px;
    height: 140px;
    display: block;
}
.tab_list .pic span {
    position: absolute;
    top: 96px;
    width: 202px;
    color: #fff;
    padding: 3px 10px 7px;
}
.tab_list .pic em {
    position: absolute;
    top:0;
    left: 0;
    padding: 1px 6px;
    height: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, .2);
    font-size: 12px;
}
.tab_list .name span {
    float: left;
    margin-left: 10px;
    width: 114px;
    height: 22px;
    font-size: 12px;
    margin-top: 12px;
}
.tab_list .name p {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: red;
}
.tab_list .name p i {
    /*color: red;*/
    font-size: 14px;
}
.tab_list .name p em {
    color: #000;
    font-size: 12px;
}
.hot_des {
    float: right;
    width: 220px;
    /*border: 1px solid red;*/
    height:400px;
}
.hot_des .target {
    height: 170px;
    width: 222px;
    /*background-color: pink;*/
}
.hot_des .target h4 {
    font-weight: 700;
    margin-bottom: 13px;
}
.hot_des .target li {
    float: left;
    border: 1px solid #DDDDDD;
    margin-right: 8px;
    margin-bottom: 10px;
}
.hot_des .target li a {
    /*display: block;*/
    padding: 6px 8px;
    line-height: 20px;
    text-align: center;
}
.hot_des .days {
    width: 222px;
    height: 62px;
    /*background-color: yellow;*/
    margin-top: 10px;
}
.hot_des .days h4{
    font-weight: 700;
}
.hot_des .days li {
    float: left;
    margin-right: 18px;
    margin-top: 10px;
    font-size: 12px;
}
.hot_des .act {
    height: 50px;
    width: 222px;
    /*background-color: blue;*/
    margin-top: 10px;
}
.hot_des .act h4{
    font-weight: 700;
    margin-bottom: 8px;
}
.hot_des .now {
    margin-top: 30px;
}
.hot_des .now img{
    float: left;
    margin-right: 6px;
}
.hot_des .now p{
    float: left;
    font-size: 16px;
    color: #D76660;
    margin-top: 14px;
}
.hot_des .now span {
    float: left;
    font-size: 12px;

}
/*第三部分结束*/







/*第四部分开始*/
/*国内游部分*/
*{
    color:black;
    font-family: 微软雅黑;
}
#gn,#chujing {
    margin-top: 20px;
    /*background-color: pink;*/
    overflow: hidden;
}

/*国内游顶部导航---开始*/
.tab_gn {
    height: 42px;
    /*background-color: deeppink;*/
    border-bottom: 2px solid #cccccc;
    margin-bottom: 15px;
}
.tab_gn ul{
    position:relative;
}
.tab_gn ul li {
    width: 100px;
    height: 42px;
    /*background-color: greenyellow;*/
    float: left;
    margin-right: 15px;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
.cls1{
    color: #ff7800;
    font-weight: 700;
}
.cls2{
    color:#ff7800;
}
.cls3{
    color: #209EF6;
    font-weight: 700;
}
.cls4{
    color: #209EF6;
}
.hua{
    height: 2px;
    width: 100px;
    background-color: #ff7800;
    position: absolute;
    left:0;
    top:42px;
}
.hua2{
    background-color: #209ef6;
    height: 2px;
    width: 100px;
    position: absolute;
    left:0;
    top:42px;
}
.hua:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ff7800;
    position: absolute;
    left: 49%;
    bottom: 0px;
}
.hua2:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #209ef6;
    position: absolute;
    left: 49%;
    bottom: 0px;
}

.rTab {
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
    margin-right: 5px;
}

/*国内游顶部导航---结束*/
/*国内内容部分---开始*/
#gn_innerL2{
    display: none;
}
.inner .left {
    float: left;
    width: 968px;
}
.inner .left ul li {
    width: 222px;
    height: 142px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.inner .left ul .addLi:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 18px;
    z-index: 100;
    background: url(../images/ovkn51.png) no-repeat center;
}
.inner .left ul li a {
    width: 222px;
    height: 140px;
    display: block;
    position: relative;
}
.inner .left ul li a .cc {
    position: absolute;
    left: 0;
    top: 0;
}
.inner .left ul li a img {
    position: absolute;
    left: 0;
    top: 0;
}
.inner .left ul li a p {
    padding-top: 48px;
    font-size: 24px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .45);
    font-weight: 600;
    height: 24px;
    overflow: hidden;
    line-height: 22px;
    text-align: center;
    width: 222px;
    color: #ffffff;
    font-family: 微软雅黑;
}
.inner .left ul li a span {
    display: block;
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 8px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
    height: 20px;
    overflow: hidden;
    width: 222px;
    color: #ffffff;
    text-align: center;
    font-family: 微软雅黑;
}
.right {
    width: 222px;
    /*background-color: darkcyan;*/
    overflow: hidden;
}
/*右侧标题*/
.lPic {
    position: relative;
    float: left;
    width: 60px;
    height: 64px;
}
.right h3 {
    width: 222px;
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}
.top {
    width: 220px;
    height: 64px;
    margin-bottom: 14px;
    /*background-color: darkgoldenrod;*/
}
/*左侧图片*/
.lPic img {
    width: 60px;
    height: 64px;
}
/*左侧遮罩层*/
.lPic .layer {
    width: 60px;
    height: 64px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, .2);
    display: none;
}
/*左上排名*/
.lPic .level {
    width: 16px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ea4126;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
    color: #ffffff;
}
.lPic .level2{
    width: 16px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ff8400;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
    color: #ffffff;
}
.lPic .level3{
    background-color: #ffae00;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
    color: #ffffff;
    width: 16px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 0;
}
.lPic .level3:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    border-width: 4px 7px 0 0;
    border-color: #ffae00 transparent;
    border-style: solid;
    width: 0;
    display: block;
}

.lPic .level3:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 9px;;
    border-width: 4px 0 0 7px;
    border-color: #ffae00 transparent;
    border-style: solid;
    width: 0;
    display: block;
}
.lPic .level2:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    border-width: 4px 7px 0 0;
    border-color: #ff8400 transparent;
    border-style: solid;
    width: 0;
    display: block;
}

.lPic .level2:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 9px;;
    border-width: 4px 0 0 7px;
    border-color: #ff8400 transparent;
    border-style: solid;
    width: 0;
    display: block;
}
.lPic .level:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    border-width: 4px 7px 0 0;
    border-color: #ea4126 transparent;
    border-style: solid;
    width: 0;
    display: block;
}

.lPic .level:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 9px;;
    border-width: 4px 0 0 7px;
    border-color: #ea4126 transparent;
    border-style: solid;
    width: 0;
    display: block;
}

/*右侧描述价格*/
.right-in {
    float: right;
    width: 150px;
    height: 64px;
    position: relative;
}
.right-in p {
    color: #333;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    font-size: 12px;
}
.right-in b {
    color: #999;
    position: absolute;
    bottom: 0;
    font-family: "SimSun", "宋体";
    font-size: 12px;
    font-weight: 100;
}
.right-in span {
    position: absolute;
    bottom: 0;;
    right: 5px;
    color: #f63;
    font-size: 14px;
}
.right-in span i {
    color: #999;
    font-size: 12px;
}
/*第四部分结束*/






/*第五部分开始*/
.jingdian{
    margin-top: 16px;

}
/*上面盒子部分*/
.jingdian .top_j{
    height: 36px;
    border-bottom: 2px solid #EEEEEE;
    position: relative;
}
/*左侧部分*/
.jingdian .top_j .l_li{
    width: 100px;
    height: 36px;
    border-bottom: 2px solid #50B400;
    text-align: center;
    line-height: 36px;

}
.jingdian .top_j .l_li a{
    width: 100px;
    height: 36px;
}
.jingdian .top_j h1{
    font-size: 20px;
    font-family: 微软雅黑;
    font-weight: 700;
    color: #50B400;
}
/*小三角*/
.jingdian .top_j .l_li .sanjiao:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 5px solid #50B400;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right:5px solid transparent;
    position: absolute;
    top: 26px;
    left: 44px;
}
/*右侧部分*/
.jingdian .r_pp{
    position: relative;
}
.jingdian .top_j .r_li {
    width: 100px;
    height: 36px;
}
.jingdian .top_j .r_li a{
    width: 100px;
    height: 36px;
    display: block;
    color: #666;
    line-height: 36px;
    font-size: 14px;
}

/*下面部分  图片*/
.jingdian .bot_j {
    height: 432px;
}
.jingdian .bot_j ul{
    width: 968px;
    height: 432px;
}

.jingdian .bot_j .l_tu li{
    width: 222px;
    height: 184px;
    margin-top: 20px;
    margin-right: 20px;
    float: left;
    position: relative;
}
.jingdian .bot_j li img{
    width: 222px;
    height: 140px;
}
.jingdian .bot_j li a span{
    width: 212px;
    height: 26px;
    line-height: 26px;
    display: block;
    padding-left: 10px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 114px;
    left: 0;
}
.jingdian .bot_j .l_tu .btn_s{
    width: 222px;
    height: 44px;
    line-height: 44px;
    background-color: #F5F5F5;
}
.jingdian .bot_j .l_tu .btn_s .b_b1{
    margin-left: 10px;
    font: 14px;
    color: #666666;
}
.jingdian .bot_j .l_tu .btn_s .b_b2{
    margin-right: 10px;
}
.jingdian .bot_j .l_tu .btn_s .b_b2 .s1{
    font-size: 14px;
    font-weight: 700;
    color: #FF6633;
    margin-right: 2px;
}
.jingdian .bot_j .l_tu .btn_s .b_b2 .s2{
    font-size: 18px;
    font-weight: 700;
    color: #FF6633;
    margin-right: 2px;
}
.jingdian .bot_j .l_tu .btn_s .b_b2 .s3{
    font-size: 12px;
    color: #999999;
    margin-right: 2px;
}
/*右侧盒子   上部分*/
.jingdian .bot_j .r_top {
    width: 222px;
    height: 184px;
    position: absolute;
    top: 20px;
    right: -12px;
}
.jingdian .bot_j .r_top h4{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #5F3333;
}
.jingdian .bot_j .r_top  ul{
    width: 222px;
}
.jingdian .bot_j .r_top  li{
    font-size: 10px;
    padding: 5px 9px;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    float: left;
}
/*中间部分*/
.jingdian .bot_j .r_mid{
    width: 222px;
    height: 90px;
    position: absolute;
    top: 210px;
    right: -12px;
}
.jingdian .bot_j .r_mid h4{
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 700;
    color: #5F3333;
}

.jingdian .bot_j .r_mid ul{
    width: 222px;
}
.jingdian .bot_j .r_mid ul li{
    margin-right: 20px;
    margin-bottom: 14px;
    float: left;
}
/*下面盒子*/
.jingdian .bot_j .r_btn {
    margin-top: 10px;
    height: 110px;
    width: 222px;
    position: absolute;
    right: -12px;
    top: 300px;
}
.jingdian .bot_j .r_btn .a1{
    width: 65px;
    height: 65px;
    display: block;
    background: url("../images/REZeuZ.png") no-repeat;
}
.jingdian .bot_j .r_btn .dv1{
    position: absolute;
    top: 20px;
    right: 70px;
}
.jingdian .bot_j .r_btn .dv1 s{
    font-size: 16px;
    font-weight: 700;
    font-family: "微软雅黑";
    color: #E2663C;
}
.jingdian .bot_j .r_btn .dv1 p{
    font-size: 12px;
    margin-top: 10px;
    color: #A3A5D0;
}
/*左侧固定部分*/
.l_fix{
    width: 40px;
    background-color: #333333;
    position: fixed;
    top: 78px;
    left: 20px;
}
.l_fix li{
    width: 28px;
    font-size: 12px;
    padding: 4px 6px 0px 6px;
}
.l_fix li a{
    /*width: 32px;*/
    display: block;

    text-align: center;
    border-bottom: 1px dashed #DDDDDD;

}
.l_fix li .gonglue{
    width: 32px;
    display: block;
    /*padding: 2px 4px;*/
    text-align: center;
    border-bottom: 0px;
}
/*右侧固定部分*/
.r_fix{
    width: 40px;
    height: 662px;
    background-color: #333333;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}
.r_fix .t_t_1{
    width: 200px;
    height: 230px;
    position: absolute;
    top: 0px;
    right: 40px;
    display: none;
}
.r_fix .t_t_1 img{
    width: 200px;
    height: 230px;

}
.r_fix ul{

}
.r_fix ul li{
    padding: 4px 0;
    margin-top: 14px;
    text-align: center;
    width: 40px;
    height: 47px;
    line-height: 47px;
    display: block;



}
.r_fix  ul li a{
    width: 40px;
    height: 47px;
    display: block;


}
.r_fix  ul li a span{
    width: 88px;
    height: 46px;
    /*background-color: #333333;*/
    float: right;
    margin-top: -46px;
    margin-right: 42px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 46px;
    display: none;
    z-index: 9999;
    position: relative;
}
.r_fix  ul li span img{
    width: 88px;
    height: 44px;

}
.r_fix  ul li a span s{
    position: absolute;
    top: 0px;
    left: 10px;
    color: #FFFFFF;

}
.r_fix  ul .btn_li{
    position: relative;

}
.r_fix  ul li i{
    width: 40px;
    height: 47px;
    display: block;
    color: #ACACAC;
    font-size: 22px;
    font-weight: 700;
    ;
}
.r_fix  ul li span:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #333333;
    border-right:5px solid transparent;
    position: absolute;
   left: -2px;
    margin-top: -28px;
}
.r_fix  ul .btn_li span{
    width: 180px;
    height: 235px;
    background-color: rgba(255,255,255,0);
    background-image: url("../images/shoujitc.png") ;
    position: absolute;
    top: -108px;
    right: 0px;
    z-index: 9999;

}
.r_fix  ul .btn_li span:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #333333;
    border-right:5px solid transparent;
    position: absolute;
    left: 400px;
    top: 204px;
}
.r_fix  ul li a .hid{
    display: none;
}
.r_fix  ul li a .blk{
    display: block;
}
.blk{
    display: block;!important;
}
.hid{
    display: none;!important;
}
/*第五部分结束*/






/*第六部分开始*/
.youlun_title {
    height: 43px;
    margin: 20px 0;
    border-bottom: 2px solid #EEE;
    position: relative;
}
.youlun_title span {
    font: 700 20px/43px "微软雅黑";
    margin: 0 25px 0 10px;
    cursor: pointer;
}
.youlun_title .more {
    float: right;
    font-weight: 400;
    font-size: 14px;
}
.youlun_title .more:hover {
    color: #ff7d33;
}
.title {
    color: #0EC5CC;
}
#huakuai {
    width: 100px;
    height: 2px;
    background-color: #0EC5CC;
    position: absolute;
    bottom: -2px;
}
#huakuai:after {
    content: "";
    border: 5px solid transparent;
    border-bottom: 5px solid #0EC5CC;
    position: absolute;
    top: -9px;
    left: 45px;
}
.youlun_left {
    float: left;
    width: 968px;
    position: relative;
}
.youlun_left ul li {
    float: left;
    margin: 0 20px 20px 0;
    width: 222px;
    height: 140px;
    overflow: hidden;
    position: relative;
}
.youlun_left ul li img {
    width: 222px;
    height: 140px;
}
.youlun_left ul li p {
    color: #fff;
    height: 30px;
    font: 700 24px/30px "微软雅黑";
    position: absolute;
    top: 55px;
    width: 222px;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}
.youlun_left .guanggao {
    position: absolute;
    top: 0;
    left: 176px;
}
.youlun_right {
    float: left;
}
.youlun_right dl dt img {
    width: 60px;
    height: 65px;
}
.youlun_right dl dd {
    font-weight: 700;
    margin-bottom: 15px;
}
.youlun_right dl dt {
    margin: 0 10px 12px 0;
    height: 65px;
}
.youlun_right dl dt a {
    display: block;
    float: left;
    position: relative;
}
.youlun_right dl .biao {
    position: absolute;
}
.youlun_right dl .des {
    float: left;
    width: 140px;
    font-size: 12px;
    margin-left: 10px;
}
.youlun_right dl .des p {
    margin-bottom: 5px;
    overflow: hidden;
    line-height: 20px;
    height: 40px;
    cursor: pointer;
}
.youlun_right dl .des .price {
    font-size: 16px;
    color: #ff7d33;
    margin-left: 22px;
}
.youlun_right dl .des span {
    color: #999;
    font-size: 12px;
}
.youlun_right .biao{
    width: 16px;
    height: 16px;
    background-color: #ff7d33;
    position:absolute;
    top:0;
    left:0;
    color: #fff;
    text-align: center;
}
.youlun_right .biao:before{
    content: "";
    display: block;
    border: 8px solid transparent;
    border-right: 4px solid #ff7d33;
    border-top: 4px solid #ff7d33;
    position:absolute;
    top: 16px;
    left: 4px;
}
.youlun_right .biao:after{
    content: "";
    display: block;
    border: 8px solid transparent;
    border-left: 4px solid #ff7d33;
    border-top: 4px solid #ff7d33;
    position: absolute;
    top:16px;
}

#huakuai1 {
    width: 100px;
    height: 2px;
    background-color: #0EC5CC;
    position: absolute;
    bottom: -2px;
}
#huakuai1:after {
    content: "";
    border: 5px solid transparent;
    border-bottom: 5px solid #0EC5CC;
    position: absolute;
    top: -9px;
    left: 45px;
}
/*第六部分结束*/






/*第七部分开始*/
.hotel {
    height:480px;
}
.hoteltop {
    height:42px;
    border-bottom:2px solid #EEEEEE;
    margin-top:36px;
    position: relative;
}
.hoteltop .hotell{
    height:42px;
    line-height: 42px;
    font-size:20px;
    /*font-weight:700;*/
    font-family: "微软雅黑";
    margin-left: 10px;
    color:#FF6363;
    font-weight: 700;
    /*margin-right:18px;*/
}
.hoteltop .hotelr{
    height:42px;
    line-height: 42px;
    font-size:20px;
    /*font-weight:700;*/
    font-family: "微软雅黑";
    margin-left: 36px;
    color:#333333;
}
.more {
    float: right;
    margin-top:16px;

}
.hoteltop .more a {
    color:#666666;
}
.hoteltop .public-btm {
    width:100px;
    height:2px;
    position: absolute;
    left:0;
    background-color: #FF6363;
}
.hoteltop .public-sanjiao {
    width: 0;
    height: 0;
    border-bottom:5px solid #FF6363;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    left:44px;
    top:33px;
}
.hotelmid {
    height:50px;
    /*background-color: pink;*/
    line-height: 50px;
}
.hotelmid li {
    float: left;
}
.hotelmid li a {
    padding-right: 8px;
    padding-left: 8px;
    /*width:44px;*/
    /*height:24px;*/
    display: inline-block;
    margin-right: 15px;
    line-height: 24px;
    color: #666666;
    font-size: 14px;
    font-family: "微软雅黑;
}
.hotelmid .city {
    background-color: #8C96A2;
    color:white;
}
.hotelcontent {
    height:386px;
    display: block;
}
.hotelcontent-none {
    height:386px;
    display: none;
}

.hotelbtm {
    height:406px;
    /*background-color: orange;*/
}
.hotelbtm .hotel-btmleft{
    width:968px;
    height: 406px;
    /*background-color: red;*/
    float: left;
}
.hotel .hotelbtm .hotel-btm1 {
    height: 181px;
    width: 222px;
    display: block;
    background-color: green;
    float: left;
    margin-right:20px;
    margin-bottom: 20px;
}
.hotel .hotelbtm .hotel-btm1-show {
    box-shadow: 1px 1px 15px #DADADA;
}
.hotel  .hotel-btm1 .hotel-btm1-pic {
    height: 138px;
    width: 222px;
    background-color: pink;
}
.hotel  .hotel-btm1 .hotel-btm1-con{
    height: 43px;
    line-height: 43px;
    width: 222px;
    background-color: #F5F5F5;
}
.hotel  .hotel-btm1 .hotel-btm1-con .hotel-con-left1{
    color:#666666;
    margin-left: 10px;
}
.hotel  .hotel-btm1 .hotel-btm1-con .hotel-con-left2{
    font-size: 16px;
    color: #FF6633;
    float: right;
}
.hotel  .hotel-btm1 .hotel-btm1-con .hotel-con-left3{
    font-size: 20px;
    color: #FF6633;
    float: right;
}
.hotel  .hotel-btm1 .hotel-btm1-con .hotel-con-left4{
    color:#999999;
    float: right;
    margin-right: 10px;
}

/*右侧广告*/
.hotel .hotel-btmright a{
    width:222px;
    height:406px;
    display: block;
    /*background-color: cornflowerblue;*/
    float: right;
}
/*攻略*/
.method .methodtop {
    height:42px;
    /*background-color: red;*/
    /*line-height: 42px;*/
    border-bottom:2px solid #EEEEEE;
    margin-top:36px;
    /*overflow: hidden;*/
    position: relative;
}
.method .methodl {
    height:42px;
    line-height: 42px;
    font-size:20px;
    /*font-weight:700;*/
    font-family: "微软雅黑";
    margin-left: 10px;
    font-weight: 700;
    color:#50B400;
}
.method .methodr{
    height:42px;
    line-height: 42px;
    font-size:20px;
    /*font-weight:700;*/
    font-family: "微软雅黑";
    margin-left: 36px;
    color:#333333;
}
.methodtop .me-btm {
    width:100px;
    height:2px;
    position: absolute;
    left:0;
    background-color:  #50B400;
}
.methodtop .me-sanjiao {
    width: 0;
    height: 0;
    border-bottom:5px solid #50B400;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    left:44px;
    top:33px;
}
.methodcon{
    display: none;
    height: 300px;
    margin-top:15px;
}
/*底部内容公共部分*/
.public-btmcon {
    height: 300px;
    margin-top:15px;
    display: block;
    /*background-color: pink;*/
}
.public-btml {
    height:300px;
    width:968px;
    float: left;
    /*background-color: greenyellow;*/
}
.public-btml li {
    float: left;
    margin-right:20px;
    position: relative;
}
.public-btml a {
    display: block;
    height:140px;
    width:222px;
    overflow: hidden;
    position: relative;
    /*background-color: yellow;*/

}
.public-btml a img {
    /*position: absolute;*/
    /*margin-left:-20px;*/
}
.public-btml p {
    display: inline-block;
    width:182px;
    text-align: center;
    font-size: 20px;
    font-family: "微软雅黑";
    position: absolute;
    top:53px;
    left: 20px;
    color:white;
    font-weight: 700;
    cursor: pointer;
}
.public-btml .public-btml-li{
    margin-top:20px;
    overflow: hidden;
}
.public-btmr {
    width:222px;
    height:300px;
    float: right;
}
/*第七部分结束*/





/*第八部分开始*/
.foot-title {
    height: 38px;
    line-height: 38px;
    border-bottom: 2px solid #eee;
}
.foot-title h3{
    font-size: 16px;
    color: #333;
    height: 38px;
    line-height: 38px;
    width: 120px;
    float: left;
}
.foot-title a{
    float: right;
    font-size: 14px;
    color: #666;
}

.footer .footer-top{
    height: 256px;
    /*background-color: pink;*/
}
.footer .footer-top-none{
    display: none;
}
.footer .footer-top ul{
    margin-left: 30px;
}
.footer .footer-top ul li{
    text-align: center;
    float: left;
    height: 118px;
    width: 130px;
    margin: 0 5px;
    padding-top: 18px;
}
.footer .footer-top ul li p{
    margin-top: 10px;
    font-size: 14px;
}
.footer .footer-top ul li a:hover{
    color: #f60;
    text-decoration: underline;

}
.footer .footer-mid{
    height: 195px;
    background-color:#EAEAEA;
    /*width: 1190px;*/
    border-bottom: 1px dashed #ccc;
}

.footer .footer-mid .yijian{
    float: left;
    position: relative;
}
.footer .footer-mid .yijian dt{
    width: 44px;
    height: 40px;
    background:url("../images/top_bg.png") no-repeat 0 -296px;
    position: relative;
}
.footer .footer-mid .yijian dd{
    position: absolute;
    left: 52px;
    top: 10px;
    width: 48px;
    height: 18px;
}
.footer .footer-mid .rexian{
    float: left;
    position: relative;
}
.footer .footer-mid .rexian dt{
    width: 44px;
    height: 44px;
    background: url("../images/top_bg.png") no-repeat -47px -297px;
    position: absolute;
    top: 57px;
    left: -42px;
}
.footer .footer-mid .rexian dd{
    width: 87px;
    position: absolute;
    left: 7px;
    top: 61px;
}
.footer .footer-mid ul {
    /*width: 200px;*/
    margin-left: 150px;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    float: left;
}
.footer .footer-mid ul a{
    color:#999999 ;
}

.footer .footer-mid ul a:hover{
    color: #999999;
}
.footer .footer-mid ul h4{
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 5px;
    color: #333;
}
.footer .footer-mid ul a{
    height: 20px;
    line-height: 25px;
    position: relative;
}
.footer .footer-mid .jiameng i{
    width: 71px;
    height: 17px;
    display: inline-block;
    position: absolute;
    left: 53px;
    top: -2px;
    background: url("../images/r4_c2.png") no-repeat;
}
.footer .footer-mid .qixia .lvyou{
    width: 90px;
    height: 28px;
    display: block;
    background: url("../images/top_bg.png") no-repeat -171px 0;
    margin-top: 5px;
}
.footer .footer-mid .qixia .yiqi{
    width: 90px;
    height: 28px;
    display: block;
    background: url("../images/top_bg.png") no-repeat -171px -40px;
    margin-top: 10px;
}
.footer .footer-mid .qixia .lvjiao{
    width: 84px;
    height: 28px;
    display: block;
    background: url("../images/top_bg.png") no-repeat -171px -80px;
    margin-top: 10px;
}
.footer .footer-bot{
    background-color: #EAEAEA;
    overflow: hidden;
}
.footer .footer-bot .severse ul{
    margin-top: 14px;
}
.footer .footer-bot .severse li{
    height: 23px;
    color: #999999;
}
.footer .footer-bot .severse li em{
    color: #f60;
    margin-right: 3px;
}
.footer .footer-bot  dt{
    float: left;
    width: 68px;
    line-height: 23px;
    color: #BBBBBB;
    font-weight: 700;
    text-align: left;
}
.footer .footer-bot  dd{
    float: left;
    width: 1090px;
    line-height: 23px;
}
.footer .footer-bot  dd a{
    display: inline-block;
    margin: 0 9px 0 0;
    color: #BBBBBB;
}
.footer .footer-bot .copyright{
    margin-top: 23px;
    color: #999999;
}
.footer .footer-bot .copyright em{
    color: #FF6600;
}
.footer .footer-bot .copyright a{
    height: 20px;
    line-height: 20px;
    display: inline;
    color: #999999;
}
.footer .footer-bot .copyright a:hover{
    color:#FF6600;
}
.footer .footer-bot .img {
    margin-top: 28px;
    padding: 18px 0;
    border-bottom: 1px dashed #ccc;
}
.footer .footer-bot .img li{
    float: left;
    width: 120px;
    height: 34px;
    margin: 5px 0;
    padding: 10px 30px 10px 0;
}
.footer .footer-bot .img .tu1{
    width: 34px;
    height: 34px;
    display: inline-block;
    float: left;
    background: url("../images/top_bg.png") no-repeat -306px -9px;
}
.footer .footer-bot .img .tu2{
    width: 38px;
    height: 38px;
    display: inline-block;
    float: left;
    background: url("../images/top_bg.png") no-repeat -266px -5px;
}
.footer .footer-bot .img .tu3{
    width: 40px;
    height: 41px;
    display: inline-block;
    float: left;
    background: url("../images/top_bg.png") no-repeat -298px -58px;
}
.footer .footer-bot .img .tu4{
    width: 36px;
    height: 38px;
    display: inline-block;
    float: left;
    background: url("../images/top_bg.png") no-repeat -260px -87px;
}
.footer .footer-bot .img .tu5{
    width: 120px;
    height: 41px;
    display: inline-block;
    float: left;
    background: url("../images/yc6f2u.jpg") no-repeat ;
}
.footer .footer-bot .img img{
    width: 75px;
    float: left;
    line-height: 18px;
    margin: -16px 0 0 -6px;
}
.footer .footer-bot .img a{
    color: #999999;
}
.footer .footer-bot .img a:hover{
    color: #999999;
}
/*第八部分结束*/

